<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inhatc.vaccinationcenter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".PeopleVC"></activity>
        <activity android:name=".infoVC" />
        <activity
            android:name=".mapVC"
            android:label="@string/activity_map_v_c" />
        <activity
            android:name="com.inhatc.vaccinationcenter.SignUp"
            android:label="@string/activity_sign_up" />
        <activity
            android:name="com.inhatc.vaccinationcenter.Sign"
            android:label="@string/activity_sign" />
        <activity android:name="com.inhatc.vaccinationcenter.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="4nel6lcpkp" />
    </application>

</manifest>